.dashBoard-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aggregate-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 28px;
}

.aggregate-header {
  text-align: left;
  margin: auto;
  padding: 32px;
  color: #00504d;
  font-size: 32px;
  font-family: museo-sans, sans-serif;
  font-weight: 700;
}

.aggregate-body {
  width: 400px;
  text-align: left;
  vertical-align: top;
  margin-top: 28px;
  color: #00504d;
  font-family: museo-sans, sans-serif;
  font-size: 24px;
}

.aggregate-cell{
  width: 250px;
  padding-bottom: 10px;
}

.nameList{
  list-style: none;
  float: left;
}

.loader {
  position: absolute; 
  top: calc(50% - 4em); 
  align-self: center;
}