.userList-container {
  display: flex;
  flex-flow: column;
  justify-content: center;  
}

.usersTable-container {
  margin: auto;
  max-width: 1000px;
}

.ReactTable .rt-tr:hover .rt-td {
  background: rgb(205, 197, 197);
  cursor: pointer;
}

.userNameSearch-container {
  display: flex;
  justify-content: left;
  color: #00504d;
  font-family: museo-sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 15px auto;
}

.userNameSearch {
  margin: auto;
  height: 30px;
  width: 300px;
}

span.userNameSearch {
  max-width: 150px;
  line-height: 32px;
}

input::placeholder {
  font-size: 14px;
}

.padding {
  padding-top: 100px;
  
}